<body>
    <form action="/renew/<%= @category.id %>" method="post">
       <div class="signin-page">
            <p>カテゴリー　<input class="border-color" type="text" name="category" value="<% @category.name %>"></p>
            <input type="submit" value="編集完了" style="color: #b988a2;" class="btn">
        </div>
    </form>
    
</body>