<form action="/signup" method="post" style="margin-top: 20px">
    <input class="border-color" type="text" name="mail" placeholder="アカウントID"><br>
    <input class="border-color" type="password" name="password" placeholder="パスワード"><br>
    <input class="border-color" type="password" name="password_confirmation" placeholder="パスワードの確認"><br>
    <button class="btn" type="submit" value="新規登録" style="color: #b988a2; background: #ffffff; border-color:#b988a2;">新規登録</button>
</form>